*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
p{
    font-weight: 300;
    color: #111;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background: url(bg.jpg);
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: #fff
}
.banner .content p{
    font: size 1.5em;
    color:#fff;
}
.btn{
    font-size:1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding:10px 30px ;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition:0.5s ;
}
.btn:hover{
    letter-spacing: 6px;
}
header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;  
    display:flex; 
    justify-content: space-between;
    align-items: center;
    transition:0.5s;
}
header .sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo{
    color: #fff;
    font-weight: 700;
    font-size:2em;
    text-decoration: none;
}
header .sticky .logo{
    color: #111;
}
header .logo span{
    color: #ff0157;
}
header .navigation{
    position: relative;
    display:flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
header .sticky .navigation li a{
    color:#111;
}
header .navigation li a:hover{
    color:#ff0157;
}
section{
    padding:100px;
}
.row{
    position:relative;
    width:100%;
    display:flex;
    justify-content: space-between;
}
.row .col{
    position:relative;
    width: 48%;
}
.titleText{
    color: #111;
    font-size:2em;
    font-weight: 300;
}
.titleText span{
    color: #ff0157;
    font-weight: 700;
    font-size: 2em;
}
.row .col .imgbox{
    position:relative;
    width: 100%;
    height: 100%;
}
.row .col .imgbox img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top:40px;
}
/* .menu .content .imgbox {
    margin-right: 20px;
} */
.menu .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);
}
.menu .content .box .imgbox {
    position: relative;
    width: 100%;
    height:300px;
}
.menu .content .box .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .content .box .text {
    padding:15px 0 6px;
}
.menu .content .box .text h3{
    font-weight:500;
    color: #111;
}
.expert .content{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:40px;
}
.expert .content .box{
    width: 250px;
    margin: 15px;
}
.expert .content .box .imgbox{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert .content .box .text{
    padding:15px 0 5px;
}
.expert .content .box .text h3{
    font-weight: 400;
    color: #111;
}
.testimonials{
    background-image: url(bg1a.jpeg);
    
}
.white .titleText,.white p{
    color:#fff;
}
 .testimonials .content{
     display: flex;
     justify-content:center;
     flex-wrap: wrap;
     flex-direction: row;
     margin-top:40px;
 }
 .testimonials .content .box{
     width: 340px;
     margin: 20px;
     padding: 40px;
     background: #fff;
     display: flex;
     justify-content:center;
     align-items: center;
     flex-direction: column;
 }
 .testimonials .content .box .imgbox{
     position: relative;
     width: 80px;
     height: 80px;
     margin-bottom: 20px;
     border-radius: 50%;
     overflow: hidden;
 }
 .testimonials .content .box .imgbox img {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height:100%;
     object-fit: cover;
 }
 .testimonials .content .box .text{
     text-align: center;
 }
 .testimonials .content .box .text p{
     color: rgb(94, 118, 131);
     font-style: italic;
 }
 .testimonials .content .box .text h3{
     margin-top: 20px;
     color: #111;
     font-size: 20px;
     color: #f7407d;
     font-weight: 800;
 }
 .contact{
     background:url(bg3.jpg);
     background-size: cover;
 }
 .contactForm{
     padding:75px 50px;
     background:rgb(254, 254, 254);
     box-shadow: 0 50px 50px rgba(19, 14, 14, 0.1);
     max-width: 500px;
     margin-top: 50px;
 }
 .contactForm h3{
     color: #111;
     font-size: 2em;
     margin-bottom: 20px;
     font-weight: 500;
 }
 .contactForm .inputbox{
     position: relative;
     width: 100%;
     margin-bottom: 20px;
 }
 .contactForm .inputbox input, .contactForm .inputbox textarea{
     width: 100%;
     border: 1px solid #555;
     padding:10px;
     color: #111;
     outline: none;
     font-size: 20px;
     font-weight:300;
     resize: none;
 }
 .contactForm .inputbox input[type='submit']{
     font-size: 1em;
     color: #fff;
     background:#ff0157;
     display: inline-block;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing:2px;
     transition: 0.5s;
    font-weight: 600;
    border:none;
    cursor:pointer;
 }
 .copyrightText{
     text-align: center;
     padding:10px 40px;
     border-top:1px solid rgba(0, 0, 0, 0.1);
 }
 .copyrightText p{
     color: #ff0157;
     font-weight: 500;
     text-decoration: none;
     font-style:oblique;
 }
 
 